.mobile-nav {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
  display: none;
  //background-color: #000;

  .fas {
    color: #000;
  }

  .fas:hover {
    cursor: pointer;
  }
}

.logo {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 250px;
  height: 55px;
  z-index: 100;
}

nav {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 800px;
  height: 50px;
  //background-color: green;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  z-index: 100;

  a {
    text-decoration: none;
    font-family: CaveatRegular;
    color: #000;
    font-size: 25px;
  }

  .currentPage {
    border-bottom: 3px solid black;
  }

  #login {
    width: 158px;
    height: 52px;
    background-color: #ffd972;
    text-align: center;
    padding-top: 10px;
    border-radius: 26px;
  }
}
.active {
  right: 0px;
  background-color: beige;
  transition: 0.5s;
}

@media screen and (max-width: 1120px) {
  nav {
    height: 100%;
    width: 180px;
    right: -200px;
    z-index: 98;
    top: 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;

    a {
      margin-bottom: 50px;
    }
  }

  .mobile-nav {
    z-index: 99;
    display: block;
  }
}
